/* .navbar-dark .navbar-nav .nav-link {
    color: black;
} */



.carousel-inner {
    object-fit: cover;
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 30, 62, .7);
    z-index: 1;
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../wwwroot/img/atakanImage.jpg) center center no-repeat;
    background-size: cover;
}